<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Document</title>
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search" action="/nayameru_student/find_book" method="post">{% csrf_token %}
		<div class="input-group" id="search">
			<input type="text" id="search-box" name="search_word" class="form-control" aria-describedby="basic-addon2">
			<span class="input-group-addon" id="basic-addon2"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
		</div>
      </form>
      <ul class="nav navbar-nav navbar-right">
		  <li><a href="#" id="hoge" class="fontop"  data-toggle="popover"  data-content="<button type='button'id='fuga' class='btn btn-secondary btn-sm btn-success text-center' data-toggle='modal' data-target='#form-modal' >ログイン</button>もしくは <a id='entry' href='#'>新規登録</a>" data-placement="bottom">ログイン</a></li>
		  <!-- <li><a href="#" class="fontop">Link</a></li> -->
        <li class="dropdown">
          <a href="#" id="login" class="dropdown-toggle fontop" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">表示順<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">価格(高い)</a></li>
            <li><a href="#">価格(低い)</a></li>
            <li><a href="#">人気順</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" data-toggle="modal" data-target="#add-modal">追加検索</a></li>
          </ul>
		</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav> 
		 
	<div id="content">
		<div class="container">
			<div class="jumbotron">
				<h2>ここに人気(関連付け)の本などを横スライドで表示できたらいいなってjk</h2>
			</div>
			<div class="jumbotron">
                {% if books_data %}
                {% for book in books %}
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<div class="book-box row">
							<div class="col-xs-6 col-md-6">
								<img src="{{ book.0.thumbnail.1 }}" alt="hoge" class="img-rounded" width="100%" height="100%">
							</div>
							<div class="col-xs-6">
								<div class="book-title"><h4>{{ book.0.title }}</h4></div>
								<div>
									<div class="text-center">新品 : <span class="new">¥ {{ book.0.new_price }}</span></div>
									<div class="text-center">中古 : <span class="used">¥ {{ book.0.used_price }}</span></div>
								</div>
								<div class="book-info">
									<div class="publisher">{{ book.0.studio }}</div>
									<div class="owner">{{ book.0.author }}</div>
									<div class="store">店舗 : 北千住</div>
								</div>
							</div>
							<div class="min-bookinfo col-xs-12"></div>
						</div><!-- bookbox row -->
					</div><!-- col -12 -6 -->

			        <div class="col-xs-12 col-md-6">
						<div class="book-box row">
							<div class="col-xs-6 col-md-6">
								<img src="{{ book.1.thumbnail.1 }}" alt="hoge" class="img-rounded" width="100%" height="100%">
							</div>
							<div class="col-xs-6">
								<div class="book-title"><h4>{{ book.1.title }}</h4></div>
								<div>
									<div class="text-center">新品 : <span class="new">¥ {{ book.1.new_price }}</span></div>
									<div class="text-center">中古 : <span class="used">¥ {{ book.1.used_price }}</span></div>
								</div>
								<div class="book-info">
									<div class="publisher">{{ book.1.studio }}</div>
									<div class="owner">{{ book.1.author }}</div>
									<div class="store">店舗 : 北千住</div>
								</div>
							</div>
							<div class="min-bookinfo col-xs-12"></div>
						</div><!-- bookbox row -->
					</div><!-- col -12 -6 -->

				</div><!-- row -->
                {% empty %}
                {% endfor %}
                {% endif %}
			</div><!-- jumbotron -->
		</div><!-- container -->
	</div> <!-- content -->

	<div id="form-modal" class="modal fade" tabindex="-1" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">ログイン</h4>
		  </div>
		  <div class="modal-body">
			<form>
				<div class="form-group">
					<label>name</label>
					<input type="text" name="email" class="form-control">
				</div>
				<div class="form-group">
					<label>password</label>
					<input type="text" name="password" class="form-control">
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox">ログイン状態を保持する
					</label>
				</div>
			</form>
		  </div><!-- modal body -->
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary">ログイン</button>
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<!-- 追加書籍検索用モーダル -->
	<div id="add-modal" class="modal fade" tabindex="-1" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title text-center">書籍の追加検索</h4>
		  </div>
		  <div class="modal-body">
			<form>
				<div class="form-group">
					<label>書籍1</label>
					<input type="text" id="book1" class="form-control">
				</div>
				<div class="form-group">
					<label>書籍2</label>
					<input type="text" id="book2" class="form-control">
				</div>
				<div class="form-group">
					<label>書籍3</label>
					<input type="text" id="book3" class="form-control">
				</div>
			</form>
		  </div><!-- modal body -->
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" id="add" class="btn btn-primary">追加検索</button>
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/index2.js"></script>
</body>
</html>
