<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Document</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/index.css">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search">
		<div class="input-group" id="search">
			<input type="text" class="form-control"aria-describedby="basic-addon2">
			<span class="input-group-addon" id="basic-addon2"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
		</div>
      </form>
      <ul class="nav navbar-nav navbar-right">
		  <li><a href="#" id="hoge" class="fontop"  data-toggle="popover"  data-content="<button type='button'id='fuga' class='btn btn-secondary btn-sm btn-success text-center' data-toggle='modal' data-target='#form-modal' >ログイン</button>もしくは <a id='entry' href='#'>新規登録</a>" data-placement="bottom">ログイン</a></li>
		  <!-- <li><a href="#" class="fontop">Link</a></li> -->
        <li class="dropdown">
          <a href="#" id="login" class="dropdown-toggle fontop" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">表示順<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">価格(高い)</a></li>
            <li><a href="#">価格(低い)</a></li>
            <li><a href="#">人気順</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
		</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav> 
		 
	<div id="content">
		<div class="container">
			<div class="jumbotron">
				<h2>ここに人気(関連付け)の本などを横スライドで表示できたらいいなってjk</h2>
			</div>
			<div class="jumbotron">
				<h2>ここに検索結果の本一覧表示できたらいいなって</h2>
			</div>
		</div>
	</div> <!-- content -->

	<div id="form-modal" class="modal fade" tabindex="-1" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">新規登録</h4>
		  </div>
		  <div class="modal-body">
			<p>One fine body&hellip;</p>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary">Save changes</button>
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>	
	<script src="js/index.js"></script>
</body>
</html>
